<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>proyecto010</title>
</head>
<body>
  <div *ngIf="paises!=null; else espera">
    <table border="1">
      <tr>
        <td>Pais</td><td>Total de casos</td><td>Total de muertos</td>
      </tr>
      <tr *ngFor="let pais of paises.Countries">
        <td>{{pais.Country}}</td>
        <td>{{pais.TotalConfirmed}}</td>
        <td>{{pais.TotalDeaths}}</td>
      </tr>
    </table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
</body>
</html>